<title>Clientes - Lojas Sem Nada</title>

<%- include('partials/navbar.ejs') %>
<%- include('partials/header.ejs') %>

<div class="container mt-5 text-center">
    <h1 class="display-4">O que dizem nossos "clientes"</h1>
    <p class="lead">As avaliações são 100% reais, ou não...</p>
    <hr class="my-4">

    <div class="row mt-4">
        <% clientes.forEach(cliente => { %>
        <div class="col-md-4">
            <div class="card">
                <img src="<%= cliente.imagem %>" class="card-img-top" alt="<%= cliente.nome %>">
                <div class="card-body">
                    <h5 class="card-title"><%= cliente.nome %></h5>
                    <p class="card-text">"<%= cliente.depoimento %>"</p>
                </div>
            </div>
        </div>
        <% }) %>
    </div>

    <section class="mt-5">
        <h3>Envie seu depoimento sobre nossos produtos inexistentes!</h3>
            <div class="form-group">
                <label for="nome">Seu nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" required style="border-color: black !important;">
            </div>
            <div class="form-group">
                <label for="depoimento">Seu depoimento:</label>
                <textarea class="form-control" id="depoimento" name="depoimento" rows="4" required style="border-color: black !important;"></textarea>
            </div>
            <button type="submit" class="btn btn-success mt-3">Enviar Depoimento</button>
    </section>
</div>

<%- include('partials/footer.ejs') %>