<title>Pedidos - Lojas Sem Nada</title>

<%- include('partials/navbar.ejs') %>
<%- include('partials/header.ejs') %>

<div class="container mt-5 text-center">
    <h1 class="display-4">Seus Pedidos Inexistentes</h1>
    <p class="lead">Aqui você pode acompanhar o status dos seus pedidos... ou não.</p>
    <hr class="my-4">

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Produto</th>
                <th scope="col">Status</th>
                <th scope="col">Data do Pedido</th>
                <th scope="col">Ação</th>
            </tr>
        </thead>
        <tbody>
            <% pedidos.forEach(pedido => { %>
            <tr>
                <th scope="row"><%= pedido.id %></th>
                <td><%= pedido.produto %></td>
                <td>
                    <% if(pedido.status === 'Em Processamento') { %>
                    <span class="badge badge-warning"><%= pedido.status %></span>
                    <% } else if(pedido.status === 'Em Espera') { %>
                    <span class="badge badge-secondary"><%= pedido.status %></span>
                    <% } else if(pedido.status === 'Cancelado') { %>
                    <span class="badge badge-danger"><%= pedido.status %></span>
                    <% } else if(pedido.status === 'Entregue') { %>
                    <span class="badge badge-success"><%= pedido.status %></span>
                    <% } %>
                </td>
                <td><%= pedido.data %></td>
                <td><a href="#" class="btn btn-info">Ver Detalhes</a></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<%- include('partials/footer.ejs') %>