<title>Produtos Inexistentes - Lojas Sem Nada</title>

<%- include('partials/navbar.ejs') %>
<%- include('partials/header.ejs') %>

<div class="container mt-5 text-center">
    <h1 class="display-4">Nossos Produtos Inexistentes</h1>
    <p class="lead">Onde você encontra aquilo que não precisa, mas que ainda assim deseja comprar!</p>
    <hr class="my-4">

    <div class="row mt-4">
        <% produtos.forEach(produto => { %>
        <div class="col-md-4">
            <div class="card">
                <img src="<%= produto.imgSrc %>" class="card-img-top" alt="<%= produto.nome %>">
                <div class="card-body">
                    <h5 class="card-title"><%= produto.nome %></h5>
                    <p class="card-text"><%= produto.descricao %></p>
                    <a href="#" class="btn btn-danger">Comprar Agora</a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<%- include('partials/footer.ejs') %>